:root {
    --cor-primaria: #1d201d;
    --cor-secundaria: #2427ee;
}

h1 {
    color: var(--cor-primaria);
    transition: color 0.3s ease;
}

h1:hover {
    color: var(--cor-secundaria);
}

.imagem {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.imagem:hover {
    transform: scale(1.1);
}

.texto-negrito {
    font-weight: normal;
    transition: font-weight 0.3s ease;
}

.texto-negrito:hover {
    font-weight: bold;
}